<!DOCTYPE html>
<html>
  <head>
    <title>RAILSGUN</title>
    <meta name="description" content="railsgun" />
    <meta name="apple-mobile-web-app-title" content="railsgun">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= favicon_link_tag '/fav.svg' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="env" content="<%= Rails.env %>" />
    <meta name="domain" content="<%= Rails.configuration.domain %>" />
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
